.card {
  position: relative;
  width: 100%;
  border: none;
  background-color: $purple;
  border-radius: 12px;
  transition: all 0.3s;
  min-height: 470px;
  padding: 3rem;
  z-index: 1;

  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;

  h3 {
    color: $white;
  }

  li {
    color: $white;
  }

  &::before,
  &::after {
    @include pseudo;

    transition: all 0.3s;
  }

  &::before {
    right: 30px;
    top: 95px;
    background: url("../img/icons/star-1.svg") 50% 50% no-repeat;
    background-size: contain;
    width: 34px;
    height: 42px;
  }

  &::after {
    left: 30px;
    bottom: 30px;
    background: url("../img/icons/star-2.svg") 50% 50% no-repeat;
    background-size: contain;
    width: 145px;
    height: 50px;
  }

  &--lg {
    &::before {
      right: 30px;
      top: 95px;
      background: url("../img/icons/star-1.svg") 50% 50% no-repeat;
      background-size: contain;
      width: 78px;
      height: 98px;
    }

    &::after {
      left: 30px;
      bottom: 30px;
      background: url("../img/icons/star-3.svg") 50% 50% no-repeat;
      background-size: contain;
      width: 242px;
      height: 306px;
    }

    @media (max-width: $media-tb) {
      &::before {
        width: 34px;
        height: 42px;
      }

      &::after {
        background: url("../img/icons/star-2.svg") 50% 50% no-repeat;
        background-size: contain;
        width: 145px;
        height: 50px;
      }
    }
  }

  &:active {
    background-color: $purple-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      background-color: $purple-2;

      &::before {
        transform: translateY(6px);
      }

      &::after {
        transform: translateY(-6px);
      }
    }
  }

  &--blue {
    background-color: $blue;

    &:active {
      background-color: $blue-2;
    }

    @media (min-width: $media-tb) {
      &:hover {
        background-color: $blue-2;
      }
    }
  }

  &--orange {
    background-color: $orange;

    &:active {
      background-color: $orange-2;
    }

    @media (min-width: $media-tb) {
      &:hover {
        background-color: $orange-2;
      }
    }
  }

  &--pink {
    background-color: $pink;

    &:active {
      background-color: $pink-2;
    }

    @media (min-width: $media-tb) {
      &:hover {
        background-color: $pink-2;
      }
    }
  }

  &--aqua {
    background-color: $aqua;

    &:active {
      background-color: $aqua-2;
    }

    @media (min-width: $media-tb) {
      &:hover {
        background-color: $aqua-2;
      }
    }
  }

  @media (max-width: $media-md) {
    min-height: 420px;
    padding: 2.5rem;
  }

  @media (max-width: $media-td) {
    padding: 1.5rem;
    min-height: 370px;

    .fs-20 {
      font-size: 18px;
    }

    &::before {
      right: 20px;
      top: 35px;
    }

    &::after {
      left: 15px;
      bottom: 20px;
      width: 120px;
    }

    &--lg::after {
      width: 145px;
    }
  }

  @media (max-width: $media-tb) {
    min-height: 350px;

    &::before {
      right: 10px;
      top: 35px;
    }

    &::after {
      left: 15px;
      bottom: 15px;
      width: 105px;
    }
  }

  @media (max-width: $media-sm) {
    min-height: 300px;
  }
}

.card img {
  position: absolute;
  right: 20px;
  bottom: 30px;
  z-index: -1;

  @media (max-width: $media-md) {
    max-width: 250px;
    max-height: 250px;
  }

  @media (max-width: $media-td) {
    max-width: 200px;
    max-height: 200px;
  }


  @media (max-width: $media-tb) {
    max-width: 175px;
    max-height: 175px;
  }

  @media (max-width: 399px) {
    max-width: 145px;
    max-height: 145px;
  }
}

.projects__item:nth-child(2) .card img {
  right: 30px;

  @media (max-width: $media-td) {
    right: 20px;
  }

  @media (max-width: $media-tb) {
    max-height: 170px;
  }

  @media (max-width: 399px) {
    max-height: 150px;
  }
}

.projects__item:nth-child(5) .card img {
  right: 245px;

  @media (max-width: $media-md) {
    max-width: 420px;
    max-height: 340px;
  }

  @media (max-width: $media-td) {
    right: 180px;

    max-width: 300px;
    max-height: 240px;
  }

  @media (max-width: $media-tb) {
    right: 105px;

    max-width: 260px;
    max-height: 240px;
  }

  @media (max-width: $media-sm) {
    right: 20px;

    max-width: 195px;
    max-height: 195px;
  }

  @media (max-width: 399px) {
    max-width: 160px;
    max-height: 175px;
  }
}

.projects__item:nth-child(9) .card img {
  bottom: 20px;
}

.projects__item:nth-child(4) .card img,
.projects__item:nth-child(1) .card img,
.projects__item:nth-child(6) .card img  {
  right: 30px;

  @media (max-width: $media-md) {
    max-width: 230px;
    max-height: 230px;
  }

  @media (max-width: $media-td) {
    right: 20px;

    max-width: 185px;
    max-height: 185px;
  }

  @media (max-width: $media-tb) {
    max-width: 165px;
    max-height: 165px;
  }

  @media (max-width: 399px) {
    max-width: 125px;
    max-height: 125px;
  }
}
