@keyframes color {
  0% {
    background-color: $aqua;
    transform: scale(1);
  }
  25% {
    background-color: $blue;
    transform: scale(1.01);
  }
  50% {
    background-color: $purple;
    transform: scale(0.99);
  }
  75% {
    background-color: $blue;
    transform: scale(1.01);
  }
  100% {
    background-color: $aqua;
    transform: scale(1);
  }
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.promo .ellipse {
  left: -155px;
  bottom: -115px;
  width: 315px;
  height: 315px;
  background-color: $purple;

  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @media (max-width: $media-tb) {
    width: 270px;
    height: 270px;
  }

  @media (max-width: $media-sm) {
    width: 260px;
    height: 260px;
  }
}

.about .ellipse {
  left: -125px;
  bottom: -60px;
  width: 220px;
  height: 220px;
  background-color: $orange;

  @media (max-width: $media-tb) {
    bottom: -30px;
    width: 200px;
    height: 200px;
  }
}

.ellipses {
  position: absolute;
}

.about .ellipses {
  right: 30px;
  top: 0;
  width: 52px;
  height: 93px;

  @media (max-width: $media-td) {
    top: -20px;
  }

  @media (max-width: $media-tb) {
    top: -35px;
  }
}

.promo .ellipses {
  right: 40px;
  top: 30px;
  width: 82px;
  height: 70px;

  @media (max-width: 1380px) {
    right: 100px;
  }

  @media (max-width: $media-md) {
    top: auto;
    bottom: -20px;
  }

  @media (max-width: $media-sm) {
    bottom: -60px;
  }
}

.ellipses__item {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.ellipses__item:first-child {
  width: 13px;
  height: 13px;
  right: 0;
}

.about .ellipses__item:first-child {
  top: 0;
}

.promo .ellipses__item:first-child {
  bottom: 0;
}

.ellipses__item:nth-child(2) {
  width: 40px;
  height: 40px;
  left: 0;
}

.about .ellipses__item:nth-child(2) {
  bottom: 0;
}

.promo .ellipses__item:nth-child(2) {
  top: 0;
}

.promo .ellipses__item {
  background-color: $orange;
}

.about .ellipses__item {
  background-color: $blue;
}
