.promo .image {
  height: 535px;
  max-width: 405px;
  width: 100%;

  @media (max-width: $media-td) {
    max-width: 100%;
    height: 450px;
  }

  @media (max-width: $media-tb) {
    height: 305px;
  }
}

.promo .container {
  padding-bottom: 115px;

  @media (max-width: $media-sm) {
    padding-bottom: 40px;
  }
}

.promo .socials {
  position: absolute;
  right: -100px;
  top: 180px;

  @media (max-width: 1449px) {
    right: -80px;
  }

  @media (max-width: 1379px) {
    right: -30px;
  }

  @media (max-width: 1299px) {
    right: 0;
  }

  @media (max-width: $media-md) {
    display: flex;
    top: -25px;
    right: 15px;
  }

  @media (max-width: $media-tb) {
    svg {
      width: 28px;
    }
  }

  @media (max-width: 445px) {
    top: 0;
  }
}
