extends layouts/layout
include components/header
include components/footer

block title
  | Портфолио

block header
  +header()

block main
  main
    .promo.mb-90
      .container
        .row
          .col-sm-5.mb-3.mb-sm-0.mt-5.mt-sm-0
            .p-relative
              .bg.bg--contain.image(style="background-image: url(img/image-1.png);")

              .ellipse

          .col-sm-7.d-flex.align-items-center.p-relative
            .ellipses
              .ellipses__item
              .ellipses__item
            h1 Меня зовут Даша!<br> Я frontend-разработчик. Создаю адаптивные и кроссбраузерные сайты.

        ul.list.socials
          li
            a.link.link--blue.d-block.pb-4.pr-4.pr-xl-0(href="mailto:zhihareva.d@mail.ru" aria-label="Написать на почту" target="_blank")
              svg(width='32' height='32')
                use(xlink:href="img/sprite/sprite.svg#icon-email")
          li
            a.link.link--orange.d-block.pb-4.pr-4.pr-xl-0(href="https://t.me/daryadogger" aria-label="Написать в телеграме" target="_blank")
              svg(width='32' height='32')
                use(xlink:href="img/sprite/sprite.svg#icon-telegram")
          li
            a.link.link--pink.d-block.pb-4(href="https://github.com/daryadogger" aria-label="Посмотреть гитхаб" target="_blank")
              svg(width='32' height='32')
                use(xlink:href="img/sprite/sprite.svg#icon-github")

    div(id="technologies")
    .technologies.mb-90
      .container
        h2.fw-500.mb-5.color-purple Технологии

        .row
          .col-4.col-lg-3.d-flex.justify-content-end.justify-content-sm-center.mb-3.mb-md-0
            .technologies__item
              img(src="img/icons/html.svg", alt="Иконка HTML5" loading="lazy")
              p HTML5

          .col-4.col-lg-3.d-flex.justify-content-center.mb-3.mb-md-0
            .technologies__item.technologies__item--blue
              img(src="img/icons/css.svg", alt="Иконка CCS3" loading="lazy")
              p CCS3

          .col-4.col-lg-3.d-flex.justify-content-sm-center.mb-3.mb-md-0
            .technologies__item.technologies__item--purple
              img(src="img/icons/js.svg", alt="Иконка JS" loading="lazy")
              p JavaScript

          .col-6.col-lg-3.d-flex.justify-content-end.justify-content-sm-center.mb-3.mb-md-0
            .technologies__item.technologies__item--aqua
              img(src="img/icons/jquery.svg", alt="Иконка jQuery" loading="lazy")
              p jQuery

          .col-6.col-lg-3.d-flex.justify-content-sm-center.mb-3.mb-md-0
            .technologies__item.technologies__item--orange
              img(src="img/icons/react.svg", alt="Иконка React" loading="lazy")
              p React

    div(id="projects")
    .projects.mb-90
      .container
        .row
          .col-md-5
            h2.fw-500.mb-5.color-purple Избранные работы

          .col-md-7.mb-4.mb-xl-0
            p.max-width В моей практике были лендинги, корпоративные сайты, Интренет-магазины и каталоги. Часто приходилось не только верстать, но и писать на js, добавляя интерактив.

        .row.projects__list
          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--orange(href="https://dba.ooo/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 DBA
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-8.png", alt="Иллюстрация" width="275" height="290" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--aqua(href="https://xn--80aagaibd6dnbc2ago4f.xn--p1ai/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 СНТ
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-2.png", alt="Иллюстрация" width="257" height="322" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--blue(href="http://www.sibmolteh.ru/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 СибМолТех
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-1.png", alt="Иллюстрация" width="343" height="298" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--pink(href="https://ekspertiza-reshenie.ru/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 Экспертиза Решение
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-7.png", alt="Иллюстрация" width="282" height="290" loading="lazy")


          .col-12.d-flex.mb-4.projects__item
            a.link.card.card--lg.card--orange(href="https://github.com/daryadogger/874821-what-to-watch-6" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 WTW
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Учебный проект
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 React
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 PropTypes
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 React Router
                li.fw-500.fs-20 Тестирование
              img(src="img/illustration-5.png", alt="Иллюстрация" width="518" height="392" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--pink(href="https://daryadogger.github.io/recipe-app/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 Recipe App
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 React
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Local Storage 
                li.fw-500.fs-20 Тестирование
              img(src="img/illustration-9.png", alt="Иллюстрация" width="278" height="257" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card(href="http://altaychemistry.ru/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 Застрахуй сегодня
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-4.png", alt="Иллюстрация" width="358" height="268" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--blue(href="http://altaychemistry.ru/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 Алтай Химия
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-3.png", alt="Иллюстрация" width="355" height="303" loading="lazy")

          .col-sm-6.d-flex.mb-4.projects__item
            a.link.card.card--aqua(href="http://itkul-festival.ru/" target="_blank")
              h3.fw-500.mb-3.mb-lg-4 Песни Лета
              ul.list
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Корпоративный сайт
                li.fw-500.fs-20.mb-2.mb-lg-3.mb-xl-4 Кроссбраузерный
                li.fw-500.fs-20 Адаптивный
              img(src="img/illustration-6.png", alt="Иллюстрация" width="337" height="349" loading="lazy")

    div(id="about")
    .about.mb-90
      .container
        .row
          .col-md-5.mb-4.mb-md-0
            .p-relative
              .bg.bg--contain.image(style="background-image: url(img/image-2.png);")

              .ellipse

              .ellipses
                .ellipses__item
                .ellipses__item

          .col-md-7
            h2.fw-500.mb-4.color-purple Обо мне

            p Я занимаюсь фронтенд-разработкой уже 2,5 года. За это время я изучила правила адаптивной, кроссбраузерной, семантической и доступной верстки. Научилась создавать сборку для проектов и кастомную анимацию для объектов.
            p Предпочитаю компонентный подход для проектирования интерфейсов, поэтому в своей практике использую БЭМ-наименования для классов. Умею верстать сайты под CMS.
            p Имею большой кругозор в технологиях и инструментах для разработчиков.
            p.mb-4 После окончания интенсивов от HtmlAcademy 7 месяцев работала верстальщиком в компании "ЛигаА". В настоящее время уже 1,4 года работаю в компании "E1Media", создаю сайты под Bitrix.

            ul.list.list--check
              li.mb-3 Ответственна
              li.mb-3 Исполнительна
              li Внимательна к деталям

    div(id="sertificates")
    .sertificates.mb-90
      .container
        h2.fw-500.mb-5.color-purple Мои сертификаты

        .row
          .col-6.col-sm-4.col-lg-3.mb-4
            a.link.link--grey.d-block.gallery(data-fancybox="gallery" href="img/gallery-1.jpg")
              .gallery__img.bg.mb-3(style="background-image: url(img/gallery-1-min.jpg);")
              p апрель 2021

          .col-6.col-sm-4.col-lg-3.mb-4
            a.link.link--grey.d-block.gallery(data-fancybox="gallery" href="img/gallery-2.jpg")
              .gallery__img.bg.mb-3(style="background-image: url(img/gallery-2-min.jpg);")
              p август 2019

          .col-6.col-sm-4.col-lg-3.mb-4
            a.link.link--grey.d-block.gallery(data-fancybox="gallery" href="img/gallery-3.jpg")
              .gallery__img.bg.mb-3(style="background-image: url(img/gallery-3-min.jpg);")
              p август 2019

          .col-6.col-sm-4.col-lg-3.mb-4
            a.link.link--grey.d-block.gallery(data-fancybox="gallery" href="img/gallery-4.jpg")
              .gallery__img.bg.mb-3(style="background-image: url(img/gallery-4-min.jpg);")
              p май 2019

          .col-6.col-sm-4.col-lg-3.mb-4
            a.link.link--grey.d-block.gallery(data-fancybox="gallery" href="img/gallery-5.jpg")
              .gallery__img.bg.mb-3(style="background-image: url(img/gallery-5-min.jpg);")
              p февраль 2019

block footer
  +footer()
