extends layouts/layout
include components/header
include components/footer
include components/menu

block title
  | Портфолио

block header
  +header()

block main
  main
    .promo.mb-90
      .container
        .row
          .col-md-5
            .p-relative
              .bg.bg--contain.image(style="background-image: url(/img/image-1.png);")

              .ellipse 

          .col-md-7.d-flex.align-items-center
            h1 Меня зовут Даша! Я frontend разработчик. Создаю адаптивные и кроссбраузерные сайты.

    .mb-90
      .container
        h2.fw-500.mb-5.color-purple Технологии



    .projects.mb-90
      .container
        .row
          .col-md-5
            h2.fw-500.mb-5.color-purple Избранные работы

          .col-md-7
            p.max-width В моей практике были лендинги, корпоративные сайты, Интренет-магазины и каталоги. Часто приходилось не только верстать, но и писать на js, добавляя интерактив.

        .row 
          .col-sm-6.d-flex.mb-4
            a.link.card.card--blue(href="http://www.sibmolteh.ru/") 
              h3.fw-500.mb-4 СибМолТех 
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-sm-6.d-flex.mb-4
            a.link.card.card--orange(href="https://xn--80aagaibd6dnbc2ago4f.xn--p1ai/") 
              h3.fw-500.mb-4 СНТ
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-sm-6.d-flex.mb-4
            a.link.card.card--pink(href="http://itkul-festival.ru/") 
              h3.fw-500.mb-4 Песни Лета
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-sm-6.d-flex.mb-4 
            a.link.card(href="http://altaychemistry.ru/") 
              h3.fw-500.mb-4 Алтай Химия
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-12.d-flex.mb-4 
            a.link.card.card--orange(href="https://github.com/daryadogger/874821-what-to-watch-6") 
              h3.fw-500.mb-4 WTW
              ul.list 
                li.fw-500.fs-20.mb-4 Реакт

          .col-sm-6.d-flex.mb-4 
            a.link.card.card--aqua(href="http://td-bizk.ru/") 
              h3.fw-500.mb-4 БЗК
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-sm-6.d-flex.mb-4 
            a.link.card.card--blue(href="https://ekspertiza-reshenie.ru/")  
              h3.fw-500.mb-4 Экспертиза Решение
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-sm-6.d-flex.mb-4  
            a.link.card.card--orange(href="https://dba.ooo/") 
              h3.fw-500.mb-4 DBA
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации

          .col-sm-6.d-flex.mb-4 
            a.link.card.card--pink(href="https://insuretoday.ru/") 
              h3.fw-500.mb-4 Застрахуй сегодня
              ul.list 
                li.fw-500.fs-20.mb-4 Кроссбраузерность
                li.fw-500.fs-20.mb-4 Адаптив
                li.fw-500.fs-20 Анимации



block footer
  +footer()

block modal
  +menu()
