doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title
      block title
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")

    meta(property="og:title" content="Портфолио Жихаревой Дарьи")
    meta(property="og:description" content="Я frontend-разработчик. Создаю адаптивные и кроссбраузерные сайты.")
    meta(property="og:image" content="/img/image-3.jpg")

    block meta
    link(href="fonts/Montserrat-Regular.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="fonts/Montserrat-Medium.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    link(rel="stylesheet", href="css/style.min.css")

    link(rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="theme-color" content="#ffffff")

  body
    block header
    block main
    block footer
    block modal

    block scripts
      script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
      script(src="js/vendor.min.js")
      script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
      script(src="js/main.js")
