.container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &--contain {
    background-size: contain;
  }
}

.mt-auto {
  margin-top: auto;
}

.p-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-90 {
  margin-bottom: 90px;

  @media (max-width: $media-td) {
    margin-bottom: 80px;
  }

  @media (max-width: $media-tb) {
    margin-bottom: 50px;
  }
}
