html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: $grey;
  -webkit-locale: auto;
  overflow-x: hidden;
}

main {
  position: relative;
  flex-grow: 1;
  padding-top: 110px;
}

p {
  line-height: 1.5;
}

a {
  @include reset-link($link-color: $grey);

  cursor: pointer;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
