.link {
  transition: all 0.3s;
}

.link--grey {
  color: $grey;

  &:active {
    color: $pink-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $pink-2;
    }
  }
}

.link--blue {
  color: $blue;

  &:active {
    color: $blue-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue-2;
    }
  }
}

.link--orange {
  color: $orange;

  &:active {
    color: $orange-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $orange-2;
    }
  }
}

.link--pink {
  color: $pink;

  &:active {
    color: $pink-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $pink-2;
    }
  }
}

.link--round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  @media (max-width: $media-td) {
    width: 100px;
    height: 100px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: $media-tb) {
    width: 90px;
    height: 90px;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  @media (max-width: $media-sm) {
    width: 85px;
    height: 85px;

    svg {
      width: 35px;
      height: 35px;
    }
  }
}

.link--round.link--pink {
  color: $white;
  background-color: $pink;

  &:active {
    background-color: $pink-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      background-color: $pink-2;
    }
  }
}

.link--round.link--blue {
  color: $white;
  background-color: $blue;

  &:active {
    background-color: $blue-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      background-color: $blue-2;
    }
  }
}

.link--round.link--purple {
  color: $white;
  background-color: $purple;

  &:active {
    background-color: $purple-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      background-color: $purple-2;
    }
  }
}

.link--round.link--aqua {
  color: $white;
  background-color: $aqua;

  &:active {
    background-color: $aqua-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      background-color: $aqua-2;
    }
  }
}

.link--round.link--orange {
  color: $white;
  background-color: $orange;

  &:active {
    background-color: $orange-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      background-color: $orange-2;
    }
  }
}
