.list {
  @include reset-list();
}

.list--point {
  li {
    position: relative;
    padding-left: 27px;

    &::before {
      @include pseudo;

      background-color: $blue;

      width: 10px;
      height: 10px;
      left: 0;
      top: 5px;
      border-radius: 50%;
    }
  }
}

.list--check {
  li {
    color: $blue;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-left: 40px;

    &::before {
      @include pseudo;

      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
      background: url("../img/icons/checked.svg") 50% 50% no-repeat;
      background-size: contain;
    }
  }
}
