/* stylelint-disable */
@mixin reset-link($link-color: white) {
  text-decoration: none;
  color: $link-color;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  opacity: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

@mixin pseudo {
  position: absolute;
  content: "";
}
