//переменные цветов
$black: #000000;
$white: #ffffff;
$grey: #434242;
$grey-2: #030303ab;
$orange: #FDAD48;
$orange-2: #FF950F;
$blue: #8FA9FF;
$blue-2: #688BFF;
$purple: #ACB0D5;
$purple-2: #959EF4;
$pink: #F5B9D3;
$pink-2: #FE93C1;
$aqua: #60C7C9;
$aqua-2: #2CE1E4;

//переменные шрифтов
$font: "Montserrat", "Arial", sans-serif;

//переменные для перестроения
$media-lg: 1439px;
$media-md: 1199px;
$media-dt: 1023px;
$media-td: 991px;
$media-tb: 767px;
$media-sm: 575px;
$media-m: 320px;
